<div class="book-card">
    <div class="book-cover-container">
        <img [src]="imageUrl()" (error)="onImegeError($event)"
            alt="Portada de {{ book().volumeInfo?.title || 'Libro sin título' }}" loading="lazy" class="book-cover" />
    </div>
    <div class="book-info">
        <div class="book-titles">
            <h3>{{ book().volumeInfo?.title || 'Título no disponible' }}</h3>
            <h4 class="subtitle">{{ book().volumeInfo?.subtitle}}</h4>
        </div>
        <p class="authors">Por: <strong>{{ (book().volumeInfo?.authors || ['Autor desconocido']).join(', ') }}</strong>
        </p>
        <div class="book-details-footer">
            <p class="categories">
                <span class="detail-label">Categorías:</span>
                {{ book().volumeInfo?.categories?.join(', ') || 'No disponible' }}
            </p>
            <p class="language">
                <span class="detail-label">Idioma:</span>
                {{ getLanguageName() }}
            </p>
        </div>
    </div>
</div>