.book-card {
    display: flex;
    gap: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-bottom: 15px;
}

.book-cover-container {
    flex-shrink: 0;
    width: 100px;
    height: 150px;
    overflow: hidden;
    border-radius: 4px;
    background-color: #f0f0f0;
}

.book-cover {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.book-info {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.book-titles h3 {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 1.3rem;
    color: #d6d6d6;
}

.subtitle {
    margin-top: 5px;
    margin-bottom: 0px;
    font-size: 0.9rem;
    color: #666;
    font-style: italic;
}

.authors {
    font-size: 1rem;
    margin: 10px 0;
    color: #444;
}

.book-details-footer {
    margin-top: 10px;
    padding-top: 0px;
    border-top: 1px solid #eee;
    font-size: 0.85rem;
    color: #777;
}

.detail-label {
    font-weight: bold;
    color: #555;
}

.categories,
.language {
    margin: 5px 0 0 0;
}